{% extends  "base.html" %}


{% block content %}
    <h1>Mulungwishi Web-Hook app is coming soon.</h1>
    <center>
    <div class="green-border-with-shadow grow">
    	<h3>What?</h3><hr class="green-line">
    	<p>It is an application that would response based on received SMS from farmers which is processed from the <a href="https://start.engagespark.com" class="invisible-underline" target="_blank">EngageSPARK</a> platform.</p>
    </div>
    <br>
    <div class="green-border-with-shadow grow">
    	<h3>Why?</h3><hr class="green-line">
    	<p>Its purpose is to help the life of farmers to be simple and more productive.</p>
    </div>
    <br>
    <div class="green-border-with-shadow grow">
    	<h3>How?</h3><hr class="green-line">
    	<p>By providing specific data which the application would receive then it would response depends on information gathered from <b>Chris</b>.</p>
    </div>
    </center>
    <br>
    <p><i>Please see also <a href="https://www.youtube.com/watch?v=qkBsuUHCFWo" class="invisible-underline" target="_blank">Mulungwishi Fertilizer Project</a></i>.</p>
{% endblock %}
